body {
    background-image: url('/background.jpg');
    background-position: center;
    background-size: cover;
}

footer h3 {
    color: black!important;
}

.shareable-page {
    display: grid;
    min-height: 100vh;
    grid-template-rows: 1fr auto;
    gap: 3rem;
}

.elixir-exchange {
    backdrop-filter: blur(60px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
    max-width: 1300px;
    margin: 0px auto;
    padding: 1rem;
    margin-top: 3rem;
    width: 100%;
    color: black;
}

.elixir-inner {
    border: 2px solid violet;
    border-radius: 4px;
    padding: 1rem;
    width: 100%;
    height: 80vh;
    overflow-y: scroll;
    overflow-x: hidden;
}

.elixir-header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid var(--secondary);
    padding-bottom: 0.25rem;
}


.elixir-subheader {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.elixir-header h2 {
    font-size: 3rem;
    text-align: center!important;
    width: 50%;
}

.elixir-header p {
    font-variant: small-caps;
    padding-top: 1rem;
}

.elixir-header p a {
    text-decoration: underline;
}

.elixir-exchange-logo {
    background-image: url('/logo-512x512.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 250px;
    width: 250px;
}

.elixir-exchange-title {
    font-weight: 600;
    font-size: 4rem;
    line-height: 4rem;
    text-align: center!important;
    width: 100%;
}

.elixir-exchange-description {
    display: flex;
    justify-content: space-evenly;
    font-size: x-large;
    width: 100%;
}

.elixir-exchange-table-header {
    width: 100%;
    font-size: 1.5rem;
    border-bottom: 2px solid var(--secondary);
    padding: 1rem;
    text-align: left;
}

.elixir-exchange-table {
    width: 100%;
}

.elixir-exchange-table thead {
    background-color: var(--secondary);
    color: white;
    text-transform: capitalize;
}

.elixir-exchange-table th, td {
    padding: 1rem;
    text-transform: capitalize;
}

.elixir-exchange-table tr:nth-child(even) {
    background-color: var(--tertiary);
    color: white;
}


.elixir-exchange-instructions {
    width: 100%;
    text-align: left;
    border: 2px solid var(--secondary);
    padding: 1rem;
    border-radius: 4px;
    min-height: 10rem;
}

.elixir-error {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    line-height: 0px;
    color: var(--secondary);
}

@media (width <= 800px) {
    .elixir-subheader {
        flex-direction: column-reverse;
    }

    .elixir-subheader h2 {
        line-height: 3rem;
    }
    .elixir-exchange-description {
        flex-direction: column;
        text-align: center;
        line-height: 0px;
    }
}
