.landing {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    backdrop-filter: blur(60px);
    height: 800px;
    overflow-y: scroll;
}

.landing p {
    text-align: center;
    font-weight: 300;
}

.landing p button {
    padding: 0.2rem 1rem;
}

.dashboard {
    /* background-color: white; */
    backdrop-filter: blur(60px);
    padding: 1rem;
    border-radius: 4px;
    color: black;
}

.dashboard .drink-of-day {
    background-color: var(--primary);
    padding: 1rem;
    border-radius: 4px;
    color: var(--secondary);
    text-align: center;
}

.dashboard .panel {
    display: flex;
    gap: 1rem;
    height: 800px;
}

.dashboard .panel .actions {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    width: 25%;
}

.dashboard .panel .actions button {
    width: 100%;
}

.dashboard .panel .active {
    background-color: var(--secondary);
    color: white;
}

.dashboard .panel .inactive {
    background-color: var(--primary);
}

.dashboard .panel .operations .title {
    text-transform: uppercase;
    background-color: var(--secondary);
    padding: 1rem;
    color: white;
    margin: 0;
}

.dashboard .panel .operations {
    border: 2px solid var(--secondary);
    border-radius: 4px;
    width: 75%;
    list-style-type: disc;
}

.dashboard .panel .operations .operations-wrapper {
    overflow: hidden;
    overflow-y: scroll;
    max-height: 740px;
}
