.terms {
    background-color: var(--primary);
    color: black;
    padding: 3rem 8rem;
    border-radius: 4px;
    height: 80vh;
    overflow-x: scroll;
}

.terms h1 {
    font-weight: 600;
}

.terms p, h2, h3, h4, h5, h6, strong {
    font-weight: 400;
    line-height: 1.5rem;
    letter-spacing: 1px;
    text-align: left;
}

.terms button {
    background-color: var(--secondary);
    width: 100%;
    color: white;
    margin-top: 3rem;
}
