.contact {
    background-color: var(--secondary);
    color: black;
    padding: 3rem 6rem;
    border-radius: 4px;
    height: 80vh;
    width: auto;
<<<<<<< HEAD
    overflow-y: scroll;
=======
    overflow-x: scroll;
>>>>>>> b7b40a7abecf05113c79335cd8a317c75f71ab10
}

.contact h1 {
    font-weight: 600;
}

<<<<<<< HEAD
.contact p, h3, h4, h6, strong {
=======
.contact p, h3, h4, h5, h6, strong {
>>>>>>> b7b40a7abecf05113c79335cd8a317c75f71ab10
    font-weight: 400!important;
    line-height: 1.5rem;
    letter-spacing: 1px;
    text-align: left!important;
<<<<<<< HEAD
    color: black;
}

.contact h3 {
    color: var(--primary);
=======
    color: var(--primary)
>>>>>>> b7b40a7abecf05113c79335cd8a317c75f71ab10
}

.contact h2 strong {
    color: white
}

.contact h5 {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    margin-bottom: 1rem;   
}

.contact h5 strong {
    flex-direction: row;
    margin-left: 1.8rem;
    color: white;
}

.contact button {
    background-color: var(--secondary);
    width: 100%;
    color: var(--primary);
    margin-top: 3rem;
}
