.contact {
    background-color: var(--secondary);
    color: black;
    padding: 3rem 6rem;
    border-radius: 4px;
    height: 80vh;
    width: auto;
    overflow-y: hidden;
}

.contact h1 {
    font-weight: 600;
}

.contact p, h3, h4, h5, h6, strong {
    font-weight: 400!important;
    line-height: 1.5rem;
    letter-spacing: 1px;
    text-align: left!important;
    color: var(--primary)
}

.contact h2 strong {
    color: white
}

.contact h5 {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    margin-bottom: 1rem;   
}

.contact h5 strong {
    flex-direction: row;
    margin-left: 1.8rem;
    color: white;
}

.contact button {
    background-color: var(--secondary);
    width: 100%;
    color: var(--primary);
    margin-top: 3rem;
}
