.form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 4px;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    color: white;
    border-radius: 8px;
    padding: 2rem;
}

.form-field {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 50%;
}

.form-action {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 1rem 0px;
}

.form-action > button {
    width: 50%;
}

.form-error-message {
    background-color: var(--secondary);
    color: orange;
    font-weight: 600;
    width: 50%;
    padding: 0.75rem 1rem;
    border-radius: 4px;
    text-align: center;
}

.form-toc {
    display: flex;
    justify-content: start;
    padding-top: 1rem;
    width: 50%
}

.form-toc strong {
    color: white;
    font-weight: 600;
    text-decoration: underline;
    cursor: pointer;

    transition: all ease-in-out 0.45s;
}

.form-toc strong:hover {
    color: var(--secondary);
}
