nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    backdrop-filter: blur(8px);
    padding: 0px 2rem;
}

.nav-app-name {
    font-size: large;
    font-weight: 600;
    cursor: pointer;
    font-family: 'Trebuchet MS'
    
}

.nav-app-black {
    color: var(--secondary);
    text-shadow: 2px 2px 3px var(--primary);
}

.nav-app-white {
    color: var(--secondary);
    text-shadow: 2px 2px 3px var(--primary);
}

.nav-links {
    display: flex;
    gap: 1rem;
}

.nav-active-button {
    background-color: var(--secondary);
    color: white;
}
