nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    backdrop-filter: blur(15px);
    padding: 0px 2rem;
}

.nav-app-name {
    font-size: normal;
    font-weight: 500;
    cursor: pointer;
}

.nav-app-black {
    color: black;
}

.nav-app-white {
    color: white;
}

.nav-links {
    display: flex;
    gap: 1rem;
}
